<%- include('../shared/header.ejs') _%>
 <main>
  <div id="mediaDiv">
    <h3 id="mediaTitle"><%= media.title %></h3>
    <p id="mediaGenre">Genres: <%= media.genre %></p>
    <p id="mediaLang">Languages: <%= media.lang %></p>
    <p id="mediaDescription"><%= media.description %></p>
    <p id="mediaCast"><%= media.main_cast %></p>
  </div>
  <img id='mediaPoster' src='<%= media.poster %>' alt="<%= media.title %> Poster">
  <p id="mediaRating">IMDB Rating: <%= media.rating %></p>
  <div id="buttons">
      <div class="spacer"></div>
      <button id="Like" type="button">Like</button>
      <div class="spacer"></div>
      <button id="Dislike" type="button">Dislike</button>
  </div>
  <script>
    const recordVote = async function (buttonId) {
    
      const data = {
        mediaId:  '<%- media.id %>',
        vote: buttonId
      }
    
      const response = await fetch('/vote', {
        method: 'POST',
        headers: {
          Accept: 'application/json',
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
      })
    
      const buttons = document.getElementById('buttons')
      if (response.ok) {
        const result = await response.json()
        if (result.ok) {
          buttons.innerHTML = '<strong>Thank you for your vote!</strong>'
          return
        }
      }
    
      buttons.innerHTML = '<strong>We couldn\'t record your vote. Please try again later.</strong>'
    }
    
    document.querySelectorAll('button').forEach(function (b) {
      b.addEventListener('click', recordVote.bind(null, b.id))
    })
      </script>
 </main>
 </body>
 </html>