<%- include('../shared/header.ejs') %>
<main>
  <h1>Coming Soon</h1>
  <ol>
    <% for (let i = 0; i < media.length; i++) { %>
      <a href="/<%= media[i].id %>"><img id='topPoster' src='<%= media[i].poster %>' alt="<%= media[i].title %> Poster"></a>
      <br>
      <li><%= media[i].releaseDate %></li> 
      <br>
    <% } %>
  </ol>
</main>
</body>
</html>